/* !Styles */
/* Головна сторінка */

.main_page {
    color: #dd8f1a;
    font-size: 24px;
}
/* Перелік уроків */
.lessons {
    padding-left: 50px;
    color: #350853;
    font-size: 20px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    line-height: 25px;
}

.app {
    background-image: url(../assets/bg-image.jpg);
    height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}