/* ! Styles */
:root {
--font-size-base:22px;
}

.app {
  background-color: #d9e7cc;
    color: #534212;
    font-size: var(--font-size-base);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 30px;
}
/* головна сторінка */
.main_page {
color: #2b1802;
font-size: var(--font-size-base);
}
/* Назва уроку */
.name_lesson {
  color: #528fe9;
}
/* моє фото */
.image {
  width: 306px;
  height: 408px;
}
/* Особисті данні */
.personal {
  color: #022b0b;
font-size: var(--font-size-base);
background-color: rgba(233, 190, 73, 0.2);
}
/* Вид блоку інформації */
.personal_view {
  background-color: rgba(103, 206, 171, 0.2);
}
/* моя національність */
.personal_national {
  color: #5e1ca8;
font-size: 16px;
}
/* адреса */
.personal_adress {
  color: #c72323;
font-size: 20px;
}
/* дата народження */
.personal_birthday {
  color: #51bddf;
  font-size: 16px;
}
/* телефон */
.personal_phone {
  color: #46a521;
  font-size: 16px;
} 
/* електронна пошта */
.personal_email {
  color: #e735d8;
  font-size: 16px;
}
/* телефон */
.personal_phone span {
  color: #c72323;
  font-size: 22px;
}
/* навчальні заклади */
.education {
  color: #7d23c7;
  font-size: 20px;
  background-color: rgba(192, 240, 20, 0.6);
}
/* вид блоку навч. закладів */
.education_view {
  background-color: rgba(156, 240, 22, 0.6);
}
/* коледж */
.education_colage {
  color: #3b7ed6;
  font-size: 16px;
}
/* інститут */
.education_institute {
  color: #3e978b;
  font-size: 16px;
}
.education_colage span {
  color: #c91e43;
  font-size: 20px;
}
.education_institute span {
  color: #4c1ec9;
  font-size: 22px;
}
/* додаткова інформація */
.next {
  color: #5619fc;
  font-size: 20px;
  background-color: rgba(236, 160, 217, 0.5);
} 
/* вигляд блоку додат. інфо */
.next_view{
  color: #5619fc;
  font-size: 16px;
  background-color: rgba(233, 147, 77, 0.5);
}
/* рівень знання мов */
.next_lang {
  color: #aa951a;
  font-size: 20px;
}
/* водійське посвідчення */
.next_driv {
  color: #16cf2e;
  font-size: 16px;
}
/* персональні якості */
.next_qualities {
  color: #5b21c9;
  font-size: 20px;
}
.next_driv span {
  color: #0e0341;
  font-size: 22px;
}
/* соціальні джерела */
.social {
  color: #d36f1e;
  font-size: 20px;
  background-color: rgba(49, 163, 207, 0.4);
}
/* вигляд блок соц джерела */
.social_view {
  color: #d36f1e;
  background-color: rgba(218, 24, 73, 0.4);
}
/* facebook */
.social_facebook a{
  color: #3537d6;
  font-size: 16px;
}
/* instagram */
.social_instagram a {
  color: #cf421f;
  font-size: 16px;
}
/* github */
.social_github {
  color: #cf1fb8;
  font-size: 16px;
}