* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {background-color: var(--c-sorcerer);
  color: var(-c-white);
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--c-whitesmoke);
  font-size: var(--f-base);
  color: var(--c-white);
}
