mixin content()
  .content
    .wrapper.content__wrapper
      h1.content__title Blog 
      .content__blocks
        .content__block
          .content__image 
            img(class="content__image" src="./assets/images/image1.jpg" alt="photo")
          .content__content 
            p.text__subtitle Technology, Interface Design 
            h2.text__title Using UX Design to Build a
              br
              | Sustainable Future 
            p.text__date 6 May, 2020
            p.text__info Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
            a(class="arrow" href="#")
              img(src="./assets/images/arrow1.jpg" alt="photo")      
        .content__block.content__block--revers  
          .content__image 
            img(class="content__image" src="./assets/images/blog-image.jpg" alt="photo")
          .content__content
            p.text__subtitle Technology, Interface Design 
            h2.text__title Using UX Design to Build a Sustainable Future 
            p.text__title 6 May, 2020
            p.text__info Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
            a(class="arrow" href="#")
              img(src="./assets/images/arrow1.jpg" alt="photo")    

