mixin footer()
  footer.footer 
    .wrapper.footer__wrapper 
      .footer__content
        .footer__cta 
          h1.footer__title Need a project? 
          .footer__contacts 
            p.footer__phone 
              a(href="tel:(239) 555-0108") 
              span (239) 555-0108 
            p.footer__email
              a(href="tanya.hill@example.com") 
              span tanya.hill@example.com 
        .footer__social 
          ul.footer__list 
            li.footer__item 
              a(class="footer__link" href="#")
                img(src="./assets/images/instagram-icon.jpg", alt="instagram") 
            li.footer__item 
              a(class="footer__link" href="#")
                img(src="./assets/images/facebook-icon.jpg", alt="facebook") 
            li.footer__item 
              a(class="footer__link" href="#")
                img(src="./assets/images/twitter.svg", alt="twitter")
            li.footer__item 
              a(class="footer__link" href="#")
                img(src="./assets/images/linkedin-icon.jpg", alt="instagram") 
      .footer__copyright
        .copyright 
          span © Copyright Manifest Theme. Allrights reserved
              