mixin header()
  header.header 
    .wrapper.header__wrapper
      .header__logo
        img(src="./assets/images/logo.svg" alt="logo")
      .header__navigation#js-header-navigation 
        +navigation() 
      .header__search 
        span search
      .header__burger 
        +burger()