mixin navigation()
  nav.navigation
    ul.navigation__list
      li.navigation__item 
        a(href="#").navigation__link.js-link home
      li.navigation__item 
        a(href="#").navigation__link.js-link about 
      li.navigation__item 
        a(href="#").navigation__link.js-link works
      li.navigation__item 
        a(href="#").navigation__link.js-link blog
      li.navigation__item 
        a(href="#").navigation__link.js-link contact