mixin popular()
  section.popular 
    .wrapper.popular__wrapper 
      .popular__head
        h3.posts__title The Most Popular
        a(class="arrow" href="#")
          span.arow__title View All
          img(src="./assets/images/arrow1.jpg" alt="photo")
      .popular__posts 
        .posts__post
          .post__image
            img( class="posts__photo" src="./assets/images/image5.jpg", alt="photo")
          .post__content
            .post__lists
              p.post__subtitle Interface Design
              p.post__date 8 June, 2020
            h3.post__title Mentorship Match — How a simple LinkedIn 
              br
              | feature can boost diversity
            p.post__info LinkedIn is on a clear mission to make professionals more successful by 
            | connecting the global workforce and as we learned — diversity and 
            | success go hand in hand
        .posts__post
          .post__image
            img( class="posts__photo" src="./assets/images/image6.jpg", alt="photo")
          .post__content
            .post__lists
              p.post__subtitle Visual Design
              p.post__date 8 June, 2020
            h3.post__title Creativity vs. UX
            p.post__info Is it possible to create a delightful user experience without following 
            | best UX practices?
      .popular__button
        button.button(type=button)
          span Load More
      .popular__info         
        h5.popular__info__title Full-time UI/UX designer
          br
          | Head of Design at VeronaLabs.com
        p.popular__info__text We work with clients around the world from our
          br
          | headquarters in Charleston, South Carolina.
          br
          br
          | We focus on naming, branding, brand narratives,
          br
          | website design and development, and brand 
          br
          | experiences.
