/* *App */
.app {
  border: 10px solid var(--c-vermeer-blue-similar);
  background-color: var(--c-vermeer-blue);
  min-height: calc(100vh - var(--border));
}

h2 {
  font-size: 21px;
}

/* main */
.main {
  background-color: var(--c-sorcerer);
  width: 100%;
  padding-top: 50px;
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 35px;
}
/* containers */
.container-1,
.container-2,
.container-3,
.container-4 {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}
/* block */
.item {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  border: 1px solid var(--c-white);
  margin: 0 -2px;
  text-align: center;
  opacity: 0.7;
}

/* small container */
.item-small {
  width: 25%;
}

/* middle container */
.item-middle {
  width: 50%;
}
/* large container */
.item-large {
  width: 100%;
}

.items-wrapper:hover .item {
  opacity: 0.3;
}

.items-wrapper:hover .item:hover {
  opacity: 1;
  border: 1px solid blue;
}

.item-title {
  margin-top: 25px;
}
.item-1 {
  background-color: #3399cc;
}
.item-2 {
  background-color: #33cccc;
}
.item-3 {
  background-color: #996699;
}
.item-4 {
  background-color: #c24747;
}
.item-5 {
  background-color: #e2674a;
}
.item-6 {
  background-color: #ffcc66;
}
.item-7 {
  background-color: #99cc99;
}
.item-8 {
  background-color: #669999;
}
.item-9 {
  background-color: #cc6699;
}
.item-10 {
  background-color: #339966;
}
.item-11 {
  background-color: #666699;
}
.wi {
  padding-bottom: 27px;
  padding-top: 4px;
}
.footer {
  padding-top: 37px;
  padding-bottom: 120px;
}
