/* *App */
.app {
  border: 15px solid var(--c-vermeer-blue-similar);
  min-height: 100vh;
  background-color: blue;
}


/* main */
.main {
  background-color: var(--c-sorcerer);
  width: 100%;
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.container-1,
.container-2,
.container-3,
.container-4 {
  width: 100%;
  margin: 0 auto;
}

.item {
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

/* small container */
.item-small {
  width: 25%;
}

/* middle container */
.item-middle {
  width: 50%;
}
