//  *Colors
$c-black: #1C1C1C;
$c-white: #FFFFFF;
$c-mona-liza:#FF8984;
$c-vermeer-blue-similar: #2b81ac;
$c-white-grey:#e4e4e4;
$c-blue:#007BFF;
$c-background: #E5E5E5;
$c-grey: #7B7B7B;
$c-dark-grey: #565656;

// * Font size
$fs-base: 16;

// * Font family
$ff-base: 'Lato', sans-serif;
$ff-second: 'Red Hat Display', sans-serif;

// * Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * Transition
$t-normal: 3.5s $b-normal;
