// ПІдключення основного файлу scss/index.scss
@import "./scss/index";
// * Основна секція
.slider {
  display: flex;
  margin-top: 50px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
// Секція з фото
.slider__photo {
  padding-top: 130px;
  padding-bottom: 200px;
  width: 50%;
}

// блок-обгортка для фото
.slider__photo__block {
  position: relative;
  width: 400px;
  height: 400px;
}


//  блоки, що утворюють рамку навколо фото 
.slider__line {
  position: absolute;
  width: 100px;
  height: 100px;
}
// верхній лівий
.slider__line--left-top {
  border-left: 1px solid $c-gold;
  border-top: 1px solid $c-gold;
  top: -15px;
  left: -15px;
}
// нижній лівий
.slider__line--left-bottom{
  border-left: 1px solid $c-gold;
  border-bottom: 1px solid $c-gold;
  bottom: -15px;
  left: -15px;
}
// верхній правий
.slider__line--right-top {
  border-right: 1px solid $c-gold;
  border-top: 1px solid $c-gold;
  right: -15px;
  top: -15px;
}
// нижній правий
.slider__line--right-bottom {
  border-right: 1px solid $c-gold;
  border-bottom: 1px solid $c-gold;
  right: -15px;
  bottom: -15px;
}

// Секція з описом профіля
.slider__profile {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 130px;
  padding-bottom: 200px;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $c-gold; 
  gap: 30px;
}
// ім'я
.slider__name {
  font-size:36px;
  font-family: $ff-second;
  font-weight: 900;
  line-height: 42px;
}

//  Лінія, яка підчеркує ім'я
.slider__line--subtitle {
  width: 100px;
  border: 1px solid $c-gold ;
  margin: 0 auto;

}
// професія
.slider__profesion {
  font-size: 24px;
  font-family: $ff-base;
  font-weight: 400;
  line-height: 36px;
}
//- соціальні мережі
.slider__social {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}
//- фейсбук
.slider__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid $c-grey;
  border-radius: 50%;
  cursor: pointer;
}
// іконка 
.icon {
  font-size: 16px;
}
// опис
.slider__description {
  font-size: 14px;
  font-family: $ff-base;
  font-weight: 500;
  line-height: 24px;
}
//- переривчаста лінія перед кнопкою
.slider__line--subbutton {
  width: 50px;
  display: flex;
  gap: 5px;
  margin: 0 auto;
}
//- коротка лінія
.slider__line--subbutton-small {
  width: 10px;
  border: 4px solid $c-gold;
}
 //- довга лінія
.slider__line--subbutton-large {
  width: 20px;
  border: 4px solid $c-gold;
}
.slider__button {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  align-items: center;
}
.button {
  border: 1px solid $c-gold;
  background-color: transparent;
  padding: 5px 10px;
}
.button__title {
  font-size:14px;
  line-height: 14px;
  font-family: $ff-next;
}