/* * Header */
.header {
  border-bottom: 1px solid var(--c-grey);
  padding-bottom: 50px;
  height: 100px;
}

/* navigation-block */
.navigation__main {
  background-color: var(--c-vermeer-blue-similar);
  padding: 5px 15px;
}

/* navigation-link */
.navigation-link {
  transition: 0.35s;
  color: var(--c-white);
}

/* navigation hover */
.navigation-link:hover {
  color: var(--c-mona-liza);
}
/* header wrapper */
.header__wrapper {
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
  padding-top: 10px;
  display: flex;
}

/* header logo */
.header__logo {
  padding-left: 115px;
}

/* logo */
.logo {
  width: 170px;
  height: 60px;
}
/* image block */
.logo__image__block {
  width: 100%;
}
/* navigation list */
.navigation__list {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
}
/* navigation item */
.navigation__item {
  transition: var(--t-normal);
  color: var(--c-title-subtitle-text);
  font-size: 20px;
  line-height: 21px;
}

/* header button */
.header__button {
  margin-top: 19px;
  margin-bottom: 19px;
}

/* button */
.button {
  background-color: 1px solid var(--c-title-subtitle-text);
  color: var(--c-title-subtitle-text);
  padding: 10px 20px;
  line-height: 21px;
}

.button:hover {
  background-color: var(--c-hover-card);
  color: var(--c-white);
  border: 1px solid var(--c-hover-card);
}

.button__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
/* banner */
.baner {
  padding-top: 150px;
  padding-bottom: 150px;
  
}

.banner__content {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 570px;
  margin-top: 150px;
}
.banner__title {
  font-family: var(--ff-base);
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  align-items: center;
}


.banner__subtitle {
  margin-top: 64px;
  font-family: var(--ff-base);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.block__cards {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}


.block__card__image {
  position: relative;
}

.block__card__list {
  display: flex;
  position: absolute;
}