.burger {
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  border: none;
  transition:$t-normal;

  &:hover {
    background-color: rgba($c-black, 0.1);
    transform: rotate(360 deg);
  }

  &--open {
    & > .burger__line {
      transform: rotate(30 deg);

      &:nth-child(2) {
        transform: rotate(-30deg);
      }

      &:last-child {
        transform: rotate(90deg);
      }
    }
  }

  &__line {
    transition: $t-normal;
    background-color: $c-black;
    margin-bottom: 8px;
    display: block;
    width: 34px;
    height: 2px;

    &:last-child {
      transition: none;
      margin-bottom: 0;
    }
  }
}
