//- Пдключення компонентів
include ./src/components/main-page 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Lesson16-Grid
    //- * Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Roboto:wght@400;500&display=swap' rel='stylesheet')
  //- Favicon
  link(rel="stylesheet" href="favicon.ico")

  //-  Local css
  link(rel="stylesheet" href="index.css") 
  body
  //- * SVG
  svg.icon.icon-icon1.icon-font
  use(xlink:href='#icon-icon1')

  svg.icon.icon-icon.icon-font
  use(xlink:href='#icon-icon')

  svg.icon.icon-icon1.icon-font
  use(xlink:href='#icon-icon1')


  .app 
    +main-page()
    //- * Block-1
    .container
      h1.block__title Architectural Photography
      .blocks.blocks-1 
        //- Block-1
        .block.block-1 
          .block__icon
            .icon
              a(class="icon icon__heart icon-font" href="#")
                img(src="./assets/images/icon.svg" alt="heart")
            .icon
              input(type="file")
              img(src="./assets/images/icon1.svg" alt="download")
          .block__subtitle
            .block__info
              span.block__discription Jezael Melgoza
              span.block__date 5 June 2020 
        //- Block-2
        .block.block-2 
          .block__subtitle
            .block__info
              span.block__discription Tom W
              span.block__date 30 March 2021
        //- Block-3
        .block.block-3 
          .block__subtitle
            span.block__discription Johan Mouchet
            span.block__date 14 August 2019
        //- Block-4
        .block.block-4 
          .block__subtitle
            span.block__discription Federico Di Dio
            span.block__date 29 October 2020  
        //- Block-5
        .block.block-5 
          .block__subtitle
            span.block__discription Casey Horner
            span.block__date 9 July 2021
        //- Block-6
        .block.block-6 
          .block__subtitle
            span.block__discription Alexander Rotker
            span.block__date 22 April 2022

    //- * Blocks-2    
    .container
      h1.block__title Still Life Photography
      .blocks.blocks-2
        //- Block-7
        .block.block-7 
          .block__subtitle
            span.block__discription Robert Lukeman
            span.block__date 30 June 2020
        //- Block-8
        .block.block-8 
          .block__subtitle
            span.block__discription Sean Oulashin
            span.block__date 5 September 2019
        //- Block-9
        .block.block-9 
          .block__subtitle
            span.block__discription John Fowler
            span.block__date 10 August 2021
        //- Block-10
        .block.block-10 
          .block__subtitle
            span.block__discription Dave Hoefler
            span.block__date13 February 2021
        //- Block-11
        .block.block-11 
          .block__subtitle
            span.block__discription Léonard Cotte
            span.block__discription 5 September 2019
        //- Block-12
        .block.block-12 
          .block__subtitle
            span.block__discription Rob Mulally
            span.block__date 30 May 2020

    //- * Blocks-3
    .container
      h1.block__title Portrait and Fashion Photography
      .blocks.blocks-3
        //- Block-13
        .block.block-13 
          .block__subtitle
            span.block__discription Pooja Chaudhary
            span.block__date 30 June 2020
        //- Block-14
        .block.block-14 
          .block__subtitle
            span.block__discription Dom Hill
            span.block__date 13 October 2021
        //- Block-15
        .block.block-15 
          .block__subtitle
            span.block__discription Seth Doyle
            span.block__date30 May 2020
        //- Block-16
        .block.block-16 
          .block__subtitle
            span.block__discription devn
            span.block__date 30 June 2020
        //- Block-17
        .block.block-17 
          .block__subtitle
            span.block__discription Noah Buscher
            span.block__date 13 February 2021
        //- Block-18
        .block.block-18 
          .block__subtitle
            span.block__discription Sincerely Media
            span.block__date 7 January 2021
        //- Block-19
        .block.block-19 
          .block__subtitle
            span.block__discription Seth Doyle
            span.block__date 30 June 2020
        //- Block-20
        .block.block-20 
          .block__subtitle
            span.block__discription Melissa Askew
            span.block__date 29 April 2021
        //- Block-21
        .block.block-21 
          .block__subtitle
            span.block__discription Brooke Cagle 
            span.block__date 5 August 2019
        //- Block-22
        .block.block-22 
          .block__subtitle
            span.block__discription Clem Onojeghuo
            span.block__date 1 July 2021

