mixin header()
  header.header 
    .wrapper.header__wrapper 
      .header__subtitle The geniuses behind our work
      h1.header__title OUR TEAM 
      img(class="header__icon" src="./assets/images/icon.jpg" alt="icon")
