.content {
  margin-top: 90px;
}

.content__block {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;


  
}
.content__block--revers {
flex-direction: row-reverse;

}
.content__content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  
}
.content__image {
  height: 470px;
  width: 100%;

  @include media('<=tablet') {
    height: 280px;
    max-width:100% ;
  }
  @include media('<=phone') {
    height: 250px;
    max-width: 100%;
  }
}