.posts {
  margin-top: 90px;
}

.posts__head {
  display: flex;
  justify-content: space-between;

}

.posts__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.posts__post {

  @include media('<=tablet'){
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
}

.posts__post--revers {
  @include media('<=tablet'){
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.posts__photo{
  @include media('<=tablet'){
    height:240px;
    width: 100%;
  }
  @include media('<=photo'){
    height:250px;
    width: 100%;
  }
}