.banner {
  background-image: url(./assets/images/bg-image.jpg);
  position: relative;
  margin-top: 100px;
  height: 600px;
  width: 100%;


  @include media("<=tablet") {
    background-image: url(./assets/images/bg-image2.jpg);
    max-width: 768px;
  }

  @include media("<=small") {
    background-image: url(./assets/images/bg-image3.jpg);
    min-width: 320px;
  }
}
