.content {
  margin-top: 90px;
}

.content__block {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}
.content__block--revers {
  flex-direction: row-reverse;
}
.content__content {
  display: flex;
  flex-direction: column;

  @include media(">=320px", "<1024px") {
    max-width: 350px;
  }
  @include media(">=320px", "<768px") {
    max-width: 300px;
  }
}
.content__image {
  max-height: 470px;
  width: 100%;
}
