.header {
  background-color: $c-white;
  color: $c-black;
  position: fixed;
  height: 100px;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    height: 100%;
  }

  &__logo {
    max-width: 140px;
    width: 100%;
  }
  &__navigation {
    background-color: red;
    @include media(">=320px", "<768px") {
      display: block;
    }
  }
  &__block {
    align-items: center;
    display: flex;
  }

  &__search {
    margin-left: 80px;
  }
  &__burger {
    margin-left: 170px;
  }
}
