.header {
  background-color: $c-white;
  color: $c-black;
  position: fixed;
  height: 100px;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;

  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__logo {
    max-width: 140px;
    width: 100%;
  }
  &__navigation {
    @include media("<=tablet") {
      opacity: 0;
    }
  }
  &__block {
    align-items: center;
    display: flex;
  }

  &__search {
    margin-left: 170px;

    @include media("<=tablet") {
      margin-left: 80px;
    }
  }
  &__burger {
    margin-left: 40px;
    display: none;
    transition: $t-normal;

    @include media("<=tablet") {
      margin-left: 20px;
      display: block;
    }
  }
}
