.navigation {
  background-color: $c-white;

  &__list {
    display: flex;
    height: 100%;
  }
  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;

      @include media("<=tablet") {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    transition: $t-normal;
    font-family: $ff-base;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: $c-black;

    &:hover {
      color: $c-blue;
      border-bottom: 1 solid $c-blue;
    }
  }
}
