@import "./scss/normalize";
// Спочатку викликаю змінні, а потім файли в яких ці змінні використовуються
@import "./scss/variables";
// Базові стилі
@import "./scss/main";
@import "./scss/formItem";

//  *Components
@import "./scss/components/index";

// Content
.content {
  background-color: $c-white;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  grid-gap: 30px;
  padding: 15px;
  display: grid;
}

// Block
.block {
  position: relative;
  border: 2px solid $c-white-grey;
  padding-bottom: 55px;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 55px;
}
.block:hover {
  border: 2px solid $c-blue;
}

// Form__title  h1
.form__title {
  font-family: $ff-base;
  line-height: 32px;
  font-weight: 500;
  font-size: 24px;
}
// forms
.forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
// subtitle
.subtitle {
  font-family: $ff-base;
  padding-bottom: 20px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 7px;
  font-size: 13px;
  margin: 0 auto;
}
// form gender (radio)
.forms_gender {
  display: flex;
}
// input type=radio
input [type="radio"] {
  padding: 8px;
}
// label
label {
  margin-right: 20px;
}
//* button
.button {
  border: 1px solid $c-white-grey;
  background-color: $c-blue;
  transition: var(-t-normal);
  align-items: center;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  padding: 8 10px;
  color: $c-white;
  margin: 0 auto;
  border: none;
  height: 38px;
  width: 100%;
}

.button--full {
  max-width: 150px;
  width: 100%;
}

.button__text {
  font-family: $ff-base;
  line-height: 1;
  margin: 0 auto;
}
button[type="reset"] {
  border: 1px solid $c-white-grey;
  background-color: $c-white;
  border-radius: 6px;
  height: 30px;
}
.form-item__title.subtitle-2 {
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  font-size: 13px;
}
.subtitle__link {
  text-decoration: none;
  color: $c-blue;
}
// * footer
.form__footer {
  border-top: 1px solid $c-white-grey;
  justify-content: center;
  padding-bottom: 16px;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
}
.form__footer.footer--text {
  align-items: center;
  margin-right: 20px;
  line-height: 22px;
  font-weight: 500;
  font-size: 15px;
}
// images
.image {
  margin-left: 15px;
  margin-top: 15px;
}
.block__image {
  display: flex;
}
.block__image--photo,
.block__image__files {
  margin-right: 20px;
}
.block__image--photo {
  border-radius: 50%;
}

.block__image__files {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}
.block__image--subtitle {
  margin-top: 10px;
}
.block__image--upload-photo {
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 3px;
  display: flex;
  width: 150px; 
  height: 30px;
}
.block__image--icon {
  height: 15px;
  width: 15px;
}
.block__image--subtitle {
  line-height: 18px;
  margin-top: 10px;
  font-style: 13px;
  font-weight: 400;
}

// *input
input[type="file"] {
  display: none;
}
input {
  border: 1px solid $c-white-grey;
}
input:hover {
  border: 1px solid $c-blue;
}
