@import "./scss/normalize";
// Спочатку викликаю змінні, а потім файли в яких ці змінні використовуються
@import "./scss/variables";
// Базові стилі
@import "./scss/main";
@import "./scss/formItem";

//  *Components
@import "./scss/components/index";


.content {
  background-color:$c-white ;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  padding: 15px;
  grid-gap: 30px;
  margin-top: 50px;
}

.block {
  position: relative;
  border: 2px solid $c-white-grey;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-right: 35px;
  padding-left: 35px;
}
.block:hover {
  border: 2px solid $c-blue;

}

.form__title {
  font-family: $ff-base;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.form__error {
  color: red;
  font-size: 12px;
  visibility: hidden;
}
.subtitle {
  padding-bottom: 20px;
  padding-top: 7px;
  font-family: $ff-base;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto;
}
.forms_gender {
  display: flex;
}
input [type="radio"]{
  padding: 8px;
}
label{
  margin-right: 20px;
}
.button {
  border: 1px solid $c-white-grey;
  background-color: $c-blue;
  transition: var(-t-normal);
  align-items: center;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  padding: 8 10px;
  color: $c-white;
  border: none;
  height: 38px;
  width: 100%;
  margin: 0 auto;
  
}

.button--full {
  width: 100%;
  max-width: 150px;
}



.button__text {
  font-family: $ff-base;
  line-height: 1;
  margin: 0 auto;
}
button[type="reset"]{
  height: 30px;
  border: 1px solid $c-white-grey;
  border-radius: 6px;
  background-color: $c-white;
}
.form-item__title.subtitle-2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.subtitle__link{
  text-decoration: none;
  color:$c-blue;
}

.form__footer {
  border-top: 1px solid $c-white-grey;
  display: flex;
  justify-content: center;  
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 16px;
}
.form__footer.footer--text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  align-items: center;
  margin-right: 20px;
}
.image {
  margin-top: 15px;
  margin-left: 15px;
}
.block__image {
  display: flex;
  
}
.block__image--photo,
.block__image__files {
  margin-right: 20px;
}
.block__image__files {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.block__image--subtitle {
  margin-top: 10px;
}
.block__image--upload-photo {
  
  border-radius: 3px;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 150px;
}
.block__image--icon {
  width: 15px;
  height: 15px;
}
.block__image--subtitle {
font-style: 13px;
font-weight: 400;
line-height: 18px;
margin-top: 10px;
}
input[type="file"] {
  display: none;
}
input {
border: 1px solid $c-white-grey;

}
input:hover {
  border: 1px solid $c-blue;
}