* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body */
body {
  background-color: var(--c-white);
} 

/* * APP */
.app{
  background-color: #fff;

}
/* main page */
a{
  color: var(--c-title-subtitle-text);
  text-decoration: none;
} 
a:hover {
  color: var(--c-hover-card);
}
/* header */
header{
  max-width: 1440px;
  height: 80px;
  width: 100%;
}
/* wrapper */
.wrapper {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
/* ul */
ul {
  list-style: none;
}


/* li */
li{
  background-color: var(--c-white);
  margin-right: 20px;

  }

  /* li last child */
li:last-child {
    margin-right: 0;
  }
/*Заголовок h1 */
h1 {
  font-size: 34px;
  line-height: 40px;
}


/* wrapper */
.wrapper {
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
