* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: $ff-base + px;
  background-color: $c-white;
  font-family: $ff-base;
  color: $c-black;
}

ul {
  list-style-type: none;
}
h1 {
  font-family: $ff-second;
  font-size: 48px;
  line-height: 67px;
  font-weight: 600;
  
  @include media("<=tablet") {
    font-size: 36px;
    line-height: 50px;
  }

  @include media("<=phone") {
    font-size: 30px;
    line-height: 50px;
  }
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;

  @include media("<=tablet") {
    width: 100%;
    max-width: 698px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include media("<=phone") {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
