
/* navigation-block */
.navigation {
  background-color: var(--c-vermeer-blue-similar);
  padding: 5px 15px;
}

/* navigation-link */
.navigation-link {
  transition: 0.35s;
  color: var(--c-white);
}

/* navigation hover */
.navigation-link:hover {
  color: var(--c-mona-liza);
}

/* block spiner */
.spiner{
  justify-content: center;
  align-items: center;
  display: flex;
}
/* container */
.container {
  transition: var(--t-normal);
  transform-origin: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  height: 600px;
  width: 600px;
}
/* line */
.line {
  width: calc(100% - var(--r-main-circle));
  border: 6px solid var(--c-grey);
  background-color: var(--c-grey);
  justify-content: center;
  top: calc(50%-64px);
  position: absolute;
  display: flex;
}

/* line-45% */
.line-45 {
  width: calc(100% - var(--r-45));
  transform: rotate(45deg);
}
/* line-90% */
.line-90 {
  width: calc(90% - var(--r-90));
  transform: rotate(90deg);
}
/* line-135% */
.line-135 {
  width: calc(100% - var(--r-90));
  transform: rotate(135deg);
}
/* line:hover */
.line:hover {
  width: calc(100% - 2 * var(--r-main-circle));
}
/* main-bubble */
.main-bubble{
  background-color: var(--c-yellow);
  transition: var(--t-normal);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  display: flex;
  height: 256px;
  width: 256px;
  z-index: 1;
}
/* bubble */
.bubble {
  background-color: var(--c-secondary);
  justify-content: center;
  position: absolute;
  display: flex;
}
/* small-bubble */
.small-bubble {
  border-radius: var(--b-radius);
  right: calc(50% - var(--r-1));
  transition: var(--t-normal);
  height: 128px;
  width: 128px;
  top: 0;
}
/* small-bubble:hover */
.small-bubble:hover {
  transform: translate(0, 40px);
}
/* small-bubble:hover line */
.small-bubble:hover .line {
  width: cal(calc(90% - var(--r-45)));
}
/* small-bubble-2*/
.small-bubble-2 {
  position: absolute;
  border-radius: var(--b-radius);
  right: calc(50% - var(--r-1));
  transition: var(--t-normal);
  height: 128px;
  width: 128px;
  bottom: 0;
}

/* small-bubble-2:hover  */
.small-bubble-2:hover {
  transform: translate(0, -40px);
}
/* medium-bubble */
.medium-bubble {
  border-radius: var(--b-radius);
  top: calc(50% - var(--r-90));
  transition: var(--t-normal);
  position: absolute;
  height: 156px;
  width: 156px;
  left: 0;
}
/* medium-bubble:hover */
.medium-bubble:hover {
  transform: translate(15px, 0);
}
/* medium-bubble-2 */
.medium-bubble-2 {
  border-radius: var(--b-radius);
  top: calc(50% - var(--r-90));
  transition: var(--t-normal);
  position: absolute;
  height: 156px;
  width: 156px;
  right: 0;
}
/* medium-bubble-2:hover */
.medium-bubble-2:hover {
  transform: translate(-15px, 0);
}
/*  big-bubble */
.big-bubble {
  border-radius: var(--b-radius);
  transition: var(--t-normal);
  position: absolute;
  height: 170px;
  width: 170px;
  left: 20px;
  top: 20px;
}
/* big-bubble:hover */
.big-bubble:hover {
  transform: translate(42px, 42px);
}
/* big-bubble-2 */
.big-bubble-2 {
  border-radius: var(--b-radius);
  transition: var(--t-normal);
  position: absolute;
  height: 170px;
  width: 170px;
  right: 20px;
  top: 20px;
}
/* big-bubble-2:hover */
.big-bubble-2:hover {
  transform: translate(-42px, 42px);
}
/* big-bubble-3 */
.big-bubble-3 {
  border-radius: var(--b-radius);
  transition: var(--t-normal);
  position: absolute;
  height: 170px;
  bottom: 20px;
  width: 170px;
  right: 20px;
  left: 20px;
}
/* big-bubble-3:hover */
.big-bubble-3:hover {
  transform: translate(42px, -42px);
}
/* big-bubble-4 */
.big-bubble-4 {
  border-radius: var(--b-radius);
  transition: var(--t-normal);
  position: absolute;
  height: 170px;
  width: 170px;
  bottom: 20px;
  right: 20px;

}
/* big-bubble-4:hover */
.big-bubble-4:hover {
  transform: translate(-42px, -42px);
}
/* main-bubble:hover ~ .container */
.main-bubble:hover ~ .container{
  transform: rotate(3turn) scale(0.8);  
}
/* main-bubble:hover */
.main-bubble:hover{
  background-color: aqua;
}
