* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body */
body {
  font-family:var(--ff-roboto);
  background-color: var(--c-baltic-sea);
  font-size: var(--f-base);
  color: var(--c-white);
}

a{
  color: var(--c-white);
  text-decoration: none;
  font-size: 18px; 
}
/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height:28px ;
  font-size: 24px;
  color: var(--c-mona-liza);
  }
