:root {
  /* colors */
  --c-black: #173a56;
  --c-white: #f2f2f2;
  --c-chocolate: #d2691e;
  --c-gray: #828282;
  --c-royalblue: #4169e1;
  --c-peachpuff: #ffdab9;
  --c-whitesmoke: #e5e5e5;
  --c-vermeer-blue: #2b81ac;
  --c-sorcerer: #3399cc;
  --c-orange: #ff9900;
  --c-blue: #173A56;
  --c-blue-light:#bcd0e5;

  /* fonts */
  --f-base: 14px;
  /* border */
  --border: 20px;

  /* * border */
  --border: 10px;
  /* * cubic-bezier */
  --b-normal: cubic-bezier(0.4, 0, 0.2, 1);
  /* * transition */
  --t-normal: 0.35s var(--b-normal);
}

