.app{

}
.header-wrapper {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
}
/* * Logo */
.logo {
  align-items: center;
  display: flex;
  border: 20px;
}
.logo:hover span {
  color: var(--c-orange);
}

.logo-text {
  transition: var(--t-normal);
  font-family: sant-serif;
  color: var(--c-blue);
  margin-left: 10px;
  font-weight: 800;
  font-size: 30px;
}
/* * navigation */
.navigation-list {
  list-style-type: none;
  display: flex;
}
.navigation-item {
  margin-right: 10px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.navigation-link {
  transition: var(--t-normal);
  white-space: nowrap;
  padding: 5px;
}
.navigation-link:hover {
color: var(--c-orange);
}
/* * Buttons */
.header-buttons {
  display: flex;
}
.header-button {
  white-space: nowrap;
  margin-right: 10px;
}
.main-section {
  display: flex;
  padding-top: 70px;
}
.main-text {
padding-top: 97px;
max-width: 500px;
}
.main-text-1{
font-weight: 700;
font-size: 44px;
line-height: 54px;
}
.main-text-2{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.image {
  width: 644px;
}
img {
  width: 100%;
}
.main-button {
  width: 180px;
  height: 50px;
  border: none;
}
