// * Main page
.main-page {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  height: 50px;
  background-color: $c-vermeer-blue-similar;
  color: $c-white;
  right: 0;
  left: 0;
  top: 0;
  padding: 5px 15px;
  &__link {
    color: $c-white;
    transition: $t-normal;
  }
  &__link:hover {
    color: $c-mona-liza;
  }
}
