.form-item {
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6px;
  padding-top: 8px;
  width: 100%;
  &__title {
    margin-top: 20px;
    margin-bottom: 7px;
  }

  &__input {
    border: 1px solid $c-white-grey;
    width: 100%;
    height: 38px;
  }
  &__input:hover {
    border: 1px solid $c-blue;
  }
}
